/*yellow: #FCD800;
blue: #00A6CA;
gray: #DDDDDD
border-radius: 0;*/



.container {
  max-width: 960px;
}

.site-header {
  background-color: #fff;
  border-bottom: 3px solid yellow;
}

.site-header a {
  color: blue;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: gray;
  text-decoration: none;
}
